#container{
  position: relative;
    width: 600px;
    height: 600px;
    background-color: rgb(233, 240, 234);
    float: left;
}

#sideNav{
    float: right;
    width: 300px;
    height: 600px;
    background-color: rgb(212, 182, 48);

}

.rectangle {
  position: absolute
}

.square {
  position: absolute;
}

/* .shapeInput{
    position: ;

} */



/* .printSq{
    width: 100px;
    height: 100px;
    background: red;
  } */

  /* #rectangle {
    width: 200px;
    height: 100px;
    background: red;
  }

  #circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
  }

  #triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
  } */